@import url('https://fonts.googleapis.com/css2?family= Krona +One &família= Montserrat & display=swap');

* { 
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #FFFFFF;
}

.titulo-destaque {
    color: #B280FF;
}

.apresentacao {
    margin: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao__conteudo {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 56px;
    font-family: 'Krona One', sans-serif;
    
}

.apresentacao__conteudo__paragrafo {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; /* espaçamento/distancia de um botão pro outro */
}

.apresentacao__links__link {
    background-color: #B280FF; /* cor de fundo botão */
    width: 280px; /* largura/espaçamento do texto */
    text-align: center; /* posição do texto no botão */ 
    border-radius: 16px; /* espaçamento de borda do botão */
    font-size: 24px; /* tamanho da fonte do botão */ 
    font-weight: 600; /* espessura da fonte do botão */
    padding: 21.5px 0px; /* tamanho do formato do botão */
    text-decoration: none; /* formatação do texto/barrinha do link */
    color: #000000; /* cor da fonte do botão */
    font-family: 'Montserrat', sans-serif; /* tipo de fonte no texto do botão */
}