@import url('https://fonts.googleapis.com/css2?family= Krona +One &família= Montserrat & display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #007b3d;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', 'sans-serif';
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* { 
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;/* Proporção da página de onde for acessado */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);

}

.cabecalho {
    padding: 0% 0% 0% 0%;
}

.cabecalho__menu {
    padding: 20px;
    display: flex;
    gap: 70px;
    background-color: #007b3d;
    
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    font-weight: 400;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.imagem_site {
    display: flexbox;
    padding: 1%;

}

.apresentacao {
    /* margin: 0% 15%; */
    padding: 3% 1%; /* configurar o scrool da página */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.apresentacao__conteudo {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 56px;
    font-family: var(--fonte-primaria);
    
}

.titulo-destaque {
    color: var(--cor-terciaria)
}

.apresentacao__conteudo__paragrafo {
    font-size: 22px;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; /* espaçamento/distancia de um botão pro outro */
}

.apresentacao__links_subtitulo { /* subtitulo acima dos botões */
    font-family: var(--fonte-primaria); /* tipo/formato da fonte */
    font-weight: 400; /* expessura/peso da fonte */
    font-size: 24px; /* tamanho da fonte em pixels */ 

}

.apresentacao__links__botao {
    /*background-color: #B280FF; /* cor de fundo do botão */
    display: flex;
    justify-content: center; /* posição dos elementos (ícoes e texto do botão) */
    gap: 16px;
    border: 4px solid var(--cor-terciaria); /* cria borda ao redor do botão e define o tamanho, o tipo da borda (solid) e a cor */
    width: 380px; /* largura/espaçamento do texto */
    text-align: center; /* posição do texto no botão */ 
    border-radius: 16px; /* espaçamento de borda do botão */
    font-size: 24px; /* tamanho da fonte do botão */ 
    font-weight: 600; /* expessura/peso da fonte do botão */
    padding: 21.5px 0px; /* tamanho/formato do botão */
    text-decoration: none; /* formatação do texto/barrinha do link */
    color: var(--cor-secundaria); /* cor da fonte do botão */
    font-family: var(--fonte-secundaria); /* tipo de fonte no texto */
    
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);

}

.rodape_pagina {
    padding: 20px;
    color: #f6f6f6;
    background-color:var(--cor-terciaria); /*cor de fundo do conteúdo/texto */
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}


/* Atalho para comentário em CSS: CTRL + K + C */